# check if the user is or not root, and exit if not 
function check_user() {
  if [ "$USER" != "root" ] ; then
    echo "ATTENTION! Run this script as root"
    exit 1
  else 	   
    USERNAME="$SUDO_USER"
  fi
} 

# ask a question and save the answer in the $OPTION variable
function question_for_answer() {
  read -p "$1 [y][n]: " OPTION
  echo ""
}

# Add a entry in the .hashs file
function add_hash() {
  echo "hash -d $1=$PWD" >> ~/.hashs
}

# Show all the files in a list and prompt the user to choose one
function choose_a_file() {
  prompt="$1"
  options=( $(ls | grep "$2") )

  if [ ${#options[@]} == 0 ]; then
    echo ""
    return
  fi

  PS3="$prompt "
  select opt in "${options[@]}" "Quit" ; do 
    if (( REPLY == 1 + ${#options[@]} )) ; then
      exit

    elif (( REPLY > 0 && REPLY <= ${#options[@]} )) ; then	  
      echo "$opt"     
      return
    fi
  done 

  echo ""	
}

